In [33]:
import h3
import pandas as pd
pd.options.mode.chained_assignment = None
from keplergl import KeplerGl
df = pd.DataFrame(columns =['lat','lng','hex_id','timestood'])
df = df.append({'lat': 51.334071111111 , 'lng': 12.324583333333 , 'timestood': 500}, ignore_index=True)
df

dfh3 = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/df_points.csv')
dfh3['hex_id'] = 0
dfh3

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,71949.0,51.334071,12.399960,87.0,1.546298e+09,1.546303e+09,0
1,71949.0,51.335429,12.324583,122.0,1.546307e+09,1.546314e+09,0
2,71949.0,51.343813,12.381495,592.0,1.546316e+09,1.546352e+09,0
3,71949.0,51.341518,12.365614,3315.0,1.546352e+09,1.546551e+09,0
4,71949.0,51.345950,12.356816,760.0,1.546551e+09,1.546597e+09,0
...,...,...,...,...,...,...,...
603383,75870.0,51.329036,12.339146,26.0,1.577631e+09,1.577632e+09,0
603384,75870.0,51.320889,12.343077,1019.0,1.577632e+09,1.577694e+09,0
603385,75870.0,51.332209,12.366046,515.0,1.577694e+09,1.577725e+09,0
603386,105465.0,0.000000,0.000000,1073.0,1.575910e+09,1.575975e+09,0
603387,105465.0,0.000000,0.000000,1.0,1.575975e+09,1.575975e+09,0

In [34]:
for ind in dfh3.index:
    dfh3['hex_id'][ind] = h3.geo_to_h3(dfh3['lat'][ind], dfh3['lng'][ind], 10)
df

         lat        lng  hex_id  timestood
0  51.334071  12.324583     NaN      500.0

In [35]:
dfh3

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,71949.0,51.334071,12.399960,87.0,1.546298e+09,1.546303e+09,8a1f1a1658effff
1,71949.0,51.335429,12.324583,122.0,1.546307e+09,1.546314e+09,8a1f1a8dd2d7fff
2,71949.0,51.343813,12.381495,592.0,1.546316e+09,1.546352e+09,8a1f1a8cb01ffff
3,71949.0,51.341518,12.365614,3315.0,1.546352e+09,1.546551e+09,8a1f1a8cb537fff
4,71949.0,51.345950,12.356816,760.0,1.546551e+09,1.546597e+09,8a1f1a8caaf7fff
...,...,...,...,...,...,...,...
603383,75870.0,51.329036,12.339146,26.0,1.577631e+09,1.577632e+09,8a1f1a8d9a07fff
603384,75870.0,51.320889,12.343077,1019.0,1.577632e+09,1.577694e+09,8a1f1a8d921ffff
603385,75870.0,51.332209,12.366046,515.0,1.577694e+09,1.577725e+09,8a1f1a1648effff
603386,105465.0,0.000000,0.000000,1073.0,1.575910e+09,1.575975e+09,8a754e64992ffff
603387,105465.0,0.000000,0.000000,1.0,1.575975e+09,1.575975e+09,8a754e64992ffff

In [36]:
dfh3.to_csv('h3_test.csv', index=False)