In [2]:
import h3
import pandas as pd
pd.options.mode.chained_assignment = None
from keplergl import KeplerGl

dfh3 = pd.read_csv('/Users/jonweske/devment/BA_nextbike/data/df_points_valid_geo_v01.csv')
dfh3['hex_id'] = 0
dfh3

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,71949.0,51.334071,12.399960,5238.0,1.546298e+09,1.546303e+09,0
1,71949.0,51.335429,12.324583,7351.0,1.546307e+09,1.546314e+09,0
2,71949.0,51.343813,12.381495,35539.0,1.546316e+09,1.546352e+09,0
3,71949.0,51.341518,12.365614,198912.0,1.546352e+09,1.546551e+09,0
4,71949.0,51.345950,12.356816,45642.0,1.546551e+09,1.546597e+09,0
...,...,...,...,...,...,...,...
550665,75870.0,51.329036,12.339146,1580.0,1.577631e+09,1.577632e+09,0
550666,75870.0,51.320889,12.343077,61152.0,1.577632e+09,1.577694e+09,0
550667,75870.0,51.332209,12.366046,30954.0,1.577694e+09,1.577725e+09,0
550668,105465.0,0.000000,0.000000,64439.0,1.575910e+09,1.575975e+09,0
550669,105465.0,0.000000,0.000000,102.0,1.575975e+09,1.575975e+09,0

In [3]:
dfh3[['bike_id','timestood','time_start','time_end']] = dfh3[['bike_id','timestood','time_start','time_end']].astype(int)

print(dfh3['timestood'].max())

18099105

In [4]:
for ind in dfh3.index:
    dfh3['hex_id'][ind] = h3.geo_to_h3(dfh3['lat'][ind], dfh3['lng'][ind], 10)
dfh3

,bike_id,lat,lng,timestood,time_start,time_end,hex_id
0,71949,51.334071,12.399960,5238,1546298089,1546303327,8a1f1a1658effff
1,71949,51.335429,12.324583,7351,1546306893,1546314244,8a1f1a8dd2d7fff
2,71949,51.343813,12.381495,35539,1546316094,1546351633,8a1f1a8cb01ffff
3,71949,51.341518,12.365614,198912,1546352025,1546550937,8a1f1a8cb537fff
4,71949,51.345950,12.356816,45642,1546551313,1546596955,8a1f1a8caaf7fff
...,...,...,...,...,...,...,...
550665,75870,51.329036,12.339146,1580,1577630571,1577632151,8a1f1a8d9a07fff
550666,75870,51.320889,12.343077,61152,1577632409,1577693561,8a1f1a8d921ffff
550667,75870,51.332209,12.366046,30954,1577694231,1577725185,8a1f1a1648effff
550668,105465,0.000000,0.000000,64439,1575910195,1575974634,8a754e64992ffff
550669,105465,0.000000,0.000000,102,1575974687,1575974789,8a754e64992ffff

In [5]:
dfh3.to_csv('h3_test.csv', index=False)